.home {
  min-height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: linear-gradient(
    rgba(10, 8, 5, 0.95),
    rgba(10, 8, 5, 0.95)
  );
  color: #f5e6c8;
}
.hero {
  height: calc(100vh - 70px);
  width: 79rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background:
    linear-gradient(
      rgba(10, 8, 5, 0.75),
      rgba(10, 8, 5, 0.85)
    ),
    url("src/assets/background2.jpg");

  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-size: 56px;
  font-family: "Cinzel", serif;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
}

.content-section {
  min-height: 80vh;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid rgba(201, 161, 74, 0.2);
}

.content-section h2 {
  font-size: 40px;
  font-family: "Cinzel", serif;
  margin-bottom: 16px;
  color: #c9a14a;
}

.content-section p {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.7;
  opacity: 0.9;
}
